In [ ]:
import psycopg2
import pandas as pd

conexao = psycopg2.connect(host="kesavan.db.elephantsql.com", database="cjwdogrw", user="cjwdogrw", password="acihzKCpPs16aX1MGNmlYqY1OV--19Q6")
cursor = conexao.cursor()

####a) Criar outras 5 consultas que envolvam like ou ilike

In [ ]:
cursor.execute("""select * from cliente 
                  where nome like 'M%'; """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select1 = pd.DataFrame(data=data,columns = colunas) 

select1

   cod_cliente                  nome
0            1       Moises da Silva
1            3  Mariazinha Feirreira
2            5    Marcelo da Vit贸ria

In [ ]:
cursor.execute("""select * from cliente
                  where nome like '%a'; """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select2 = pd.DataFrame(data=data,columns = colunas) 

select2

   cod_cliente                  nome
0            1       Moises da Silva
1            3  Mariazinha Feirreira
2            4        Vitor da Silva
3            5    Marcelo da Vit贸ria

In [ ]:
cursor.execute("""select * from cliente
                  where nome ilike '%si%'; """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select3 = pd.DataFrame(data=data,columns = colunas) 

select3

   cod_cliente             nome
0            1  Moises da Silva
1            4   Vitor da Silva

In [ ]:
cursor.execute("""select * from produto 
                  where nome like '_ento%'; """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select4 = pd.DataFrame(data=data,columns = colunas) 

select4

   cod_produto                 nome  preco
0            1  Cento de brigadeiro   50.0
1            3    Cento de beijinho   50.0

In [ ]:
cursor.execute("""select * from produto
                  where nome like '_____d%'; """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select5 = pd.DataFrame(data=data,columns = colunas) 

select5

   cod_produto               nome  preco
0            2       Bolo de fuba   30.0
1            4  Bolo de chocolate   30.0

In [ ]:
cursor.execute("""select * from tipo_pagamento where descricao ilike 'p_%y' """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select6 = pd.DataFrame(data=data,columns = colunas) 

select6

   cod_tipo_pagamento descricao
0                   2    PicPay

In [ ]:
cursor.execute("""select * from ingrediente
                  where nome ilike 'f%o' or nome like '%贸' """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select7 = pd.DataFrame(data=data,columns = colunas) 

select7

   cod_ingrediente              nome  fk_cod_tipo_medida
0                4  Farinha de trigo                   3
1                7    Fermento em p贸                   3

####b) Criar uma consulta para cada tipo de fun莽茫o data apresentada.

In [ ]:
cursor.execute("""select data_hora_criacao, current_date as data_atual, current_date - data_hora_criacao as tempo_desde_pedido from pedido; """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select8 = pd.DataFrame(data=data,columns = colunas) 

select8

    data_hora_criacao  data_atual tempo_desde_pedido
0 2022-05-17 10:11:00  2022-06-25   38 days 13:49:00
1 2022-05-18 10:11:00  2022-06-25   37 days 13:49:00
2 2022-05-19 10:11:00  2022-06-25   36 days 13:49:00
3 2022-05-20 10:11:00  2022-06-25   35 days 13:49:00
4 2022-05-21 10:11:00  2022-06-25   34 days 13:49:00

In [ ]:
cursor.execute("""select data_hora_criacao, now() as data_atual, now() - data_hora_criacao as tempo_desde_pedido from pedido;  """)

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select9 = pd.DataFrame(data=data,columns = colunas) 

select9

    data_hora_criacao                       data_atual      tempo_desde_pedido
0 2022-05-17 10:11:00 2022-06-25 20:51:08.945424+00:00 39 days 10:40:08.945424
1 2022-05-18 10:11:00 2022-06-25 20:51:08.945424+00:00 38 days 10:40:08.945424
2 2022-05-19 10:11:00 2022-06-25 20:51:08.945424+00:00 37 days 10:40:08.945424
3 2022-05-20 10:11:00 2022-06-25 20:51:08.945424+00:00 36 days 10:40:08.945424
4 2022-05-21 10:11:00 2022-06-25 20:51:08.945424+00:00 35 days 10:40:08.945424

In [ ]:
cursor.execute("""select data_hora_criacao, now() as data_atual, age(data_hora_criacao) from pedido;""")

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select10 = pd.DataFrame(data=data,columns = colunas) 

select10

    data_hora_criacao                       data_atual              age
0 2022-05-17 10:11:00 2022-06-25 20:51:08.945424+00:00 37 days 13:49:00
1 2022-05-18 10:11:00 2022-06-25 20:51:08.945424+00:00 36 days 13:49:00
2 2022-05-19 10:11:00 2022-06-25 20:51:08.945424+00:00 35 days 13:49:00
3 2022-05-20 10:11:00 2022-06-25 20:51:08.945424+00:00 34 days 13:49:00
4 2022-05-21 10:11:00 2022-06-25 20:51:08.945424+00:00 33 days 13:49:00

In [ ]:
cursor.execute("""select data_hora_entrega_prevista, now() as data_hora_agora, age(data_hora_entrega_prevista) as tempo_entrega_atrasada from pedido;""")

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select11 = pd.DataFrame(data=data,columns = colunas) 

select11

,data_hora_entrega_prevista,data_hora_agora,tempo_entrega_atrasada
0,2022-05-21 10:11:00,2022-06-25 20:51:08.945424+00:00,33 days 13:49:00
1,2022-05-22 10:11:00,2022-06-25 20:51:08.945424+00:00,32 days 13:49:00
2,2022-05-23 10:11:00,2022-06-25 20:51:08.945424+00:00,31 days 13:49:00
3,2022-05-24 10:11:00,2022-06-25 20:51:08.945424+00:00,30 days 13:49:00
4,2022-05-25 10:11:00,2022-06-25 20:51:08.945424+00:00,30 days 13:49:00

In [ ]:
cursor.execute("""select cod_pedido, data_hora_entrega_prevista, extract('day' from data_hora_entrega_prevista) as dia_entregas from pedido;""")

data = cursor.fetchall()

colunas = []

for col in cursor.description:
  colunas.append(col[0])

select12 = pd.DataFrame(data=data,columns = colunas) 

select12

   cod_pedido data_hora_entrega_prevista  dia_entregas
0           1        2022-05-21 10:11:00          21.0
1           2        2022-05-22 10:11:00          22.0
2           3        2022-05-23 10:11:00          23.0
3           4        2022-05-24 10:11:00          24.0
4           5        2022-05-25 10:11:00          25.0

In [1]:
conexao.close()

NameError: ignored